{%- do view.registerAssetBundle("wsydney76\\extras\\web\\assets\\elementmap\\ElementMapAsset") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('_extras') }}</a>


{% js at POS_END %}
    elementMapAjaxBaseUrl = '{{ cpUrl("elementmap-getrelations/#{element.site.id}/%s") }}';
    elementMapElementId = {{ element.id }};
{% endjs %}
