{%- do view.registerAssetBundle("wsydney76\\extras\\web\\assets\\elementmap\\ElementMapAsset") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('_extras') }}</a>

{% set ajaxBaseUrl = cpUrl("elementmap-getrelations/#{element.site.handle}/#{class}/#{element.id}") %}
{% set draftId = element.isProvisionalDraft or element.isDraft ? element.draftId : 0 %}

{% js at POS_END %}
    ajaxBaseUrl = '{{ ajaxBaseUrl }}';
    draftId = {{ draftId }};
{% endjs %}
