{% if field is not string %}
    {% if element.isFieldModifiedForDiff(field, canonicalElement) %}
        <div class="field-diff field-diff-level-{{ level }}">

            <h2>{{ field.name == '__blank__' ? field.handle|capitalize : field.name|t }}</h2>

            {% set value = element.fieldValue(field.handle) %}
            {% set canonicalValue = canonicalElement.fieldValue(field.handle) %}

            {% set template = className(field)|replace({'\\':'_'}) %}

            {# TODO: Avoid hard coding extra paths for compagnion plugins/modules
                    Allow plugins to register their own path via event
            #}
            {% include [
                "_fields/compare/fields/#{template}",
                "customcompare/compare/fields/#{template}",
                "_extras/compare/fields/#{template}.twig",
                "_extras/compare/fields/default"] with {
                field, value, canonicalValue
            } only %}

        </div>
    {% endif %}
{% endif %}
