{% set mode = mode ?? 'cp' %}

{% if mode == 'cp' %}
    <p>
        <a href="{{ cpUrl('utilities/upgrade-inventory') }}">Zur Übersicht</a>
    </p>
{% endif %}

{% block content %}

{% endblock %}

<style>
    {% include mode == 'cp' ? '/_extras/upgrade/styles.css' : '@extras/upgrade/styles.css'%}
</style>