{% extends "_extras/upgrade/_layout.twig" %}

{% block content %}
    {# @var type \craft\models\EntryType #}
    {# @var layout \craft\models\FieldLayout #}
    {# @var fieldElement \craft\fieldlayoutelements\CustomField #}
    {% set types = collect(craft.app.entries.allEntryTypes) %}
    {% set settingsUrl = "/#{craft.app.config.general.cpTrigger}/settings/" %}

    {% set handles = craft.app.request.getQueryParam('handles') %}
    {% if handles %}
        {% set handles = handles|split(',') %}
        {% set types = types|filter(t => (t.handle in handles)) %}
        {% set types = collect(types) %}
    {% endif %}

    <table>

        <thead>
        <tr>
            <th>Nr.</th>
            <th>ID</th>
            <th>Name</th>
            <th>Usages</th>
            <th>Fields</th>
            <th>Custom Fields</th>
            <th>UID</th>
        </tr>
        </thead>

        {% for type in types.sortBy('name') %}
            {% include '_extras/upgrade/entrytype-row.twig' with {
            	type,
                index: loop.index,
                settingsUrl
            } only %}
        {% endfor %}
    </table>

    <style>
        table td {
            vertical-align: top;
        }
    </style>

{% endblock %}

